@charset "utf-8";

*{
    margin: 0 auto;
    padding: 0;
    list-style: none;
    font-family: "맑은 고딕";
    color: #333333;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    min-width: 1200px;
    background-color:#f5e7cc;
    font-size: 20px;
}

a{
    text-decoration: none;
    display: block;
}

header{
    width: 1200px;
    height: 200px;
    background-color: #f5e7cc;
}

.logo{
    width: 250px;
    height: 120px;
    text-align: center;
}

.logo img{
    width: 120px;
    height: 120px;
}

.menu{
    width: 100%;
    height: 80px;
}

.navi{
    float: right;
    margin-top: 60px;
    /* margin-left: 20px; */
}

.navi>li{
    float: left;
}

.navi>li>a{
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    /*border: 2px solid rgb(128, 20, 20);*/
    border-top-width: 2px;
    border-left-width: 2px;
    border-top-style: solid;
    border-left-style: solid;
    border-top-color: rgb(128, 20, 20);
    border-left-color: rgb(128, 20, 20);
    /* background-color: rgb(184, 42, 42); */
    color: black;
}

.navi>li:nth-child(3)>a{
    border-right-width: 2px;
    border-right-style: solid;
    border-right-color: rgb(128, 20, 20);
}

.navi>li>a:hover{
    background-color: #ffffff;
}

.submenu {
    width: 200px;
    height: 300px;
    position: absolute;
    display: none;
    z-index: 1;
    /*background: #ffffff;*/
    text-align: center;
}

.submenu>li>a{
    width: 200px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    /*background-color: rgb(201, 125, 125);*/
    color: white;
}

.submenu>li>a:hover{
    background-color: rgb(128, 20, 20);
}

.bodywrap{
    width: 1200px;
    /* height: 900px;  */
}

.imgslide{
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
    border: 3px solid rgb(128, 20, 20);
}

/* .slidelist{
    height: 3600px;
} */

.slidelist ul li{
    width: 1200px;
    float: left;    
}

.slidelist img{
    width: 100%;
    object-fit: cover;
    /*border-left: 2px solid rgb(128, 20, 20);*/
}

.contents{
    width: 100%;
    height: 280px;
}

.tabmenu{
    float: left;
    width: 30%;
    height: 180px;
}

.tabmenu>li{
    float: left;
    width: 100px;
    height: 30px;
    line-height: 30px;
}

.tabmenu>li>a{
    font-size: 16px;
    text-align: center;
    background-color: #f5e7cc;
    border: 2px solid rgb(128, 20, 20);
    border-top: none;
    border-bottom: none;
    font-weight: bold;
}

.tabmenu>li>a:hover{
    background-color: #ffffff;
}

.tabmenu>li:first-child a{
    border-right: none;
}

.tabmenu>li.active>a{
    /* background-color: #f5e7cc; */
    background-color: rgb(128, 20, 20);
    color: #ffffff;
}

.tabmenu>li.active>a:hover{
    background-color: #ffffff;
    color: black;
}

.tabmenu>li div{
    height: 0px;
    overflow: hidden;
}

.tabmenu>li.active div{
    width: 362px;
    height: 250px;
    border: 2px solid rgb(128, 20, 20);
}

.notice ul{
    float: left;
    width: 100%;
    margin-top: 15px;
}

.notice li{
    height: 32px;
    line-height: 32px;
    font-size: 15px;
    margin-top: 15px;
    margin-left: 10px;
    color: black;    
}

/*.notice li:nth-child(2n){
    background-color: rgb(128, 20, 20);
}*/

.notice li:hover{
    font-weight: bold;
}

.event{
    margin-left: -100px;

}
.event ul{
    float: left;
    width: 100%;
    margin-top: 15px;
}

.event li {
    height: 32px;
    line-height: 32px;
    font-size: 15px;
    margin-top: 15px;
    margin-left: 10px;
    color: black;  
}

.event li:hover{
    font-weight: bold;
}

.galleryslide{
    float: right;
    width: 70%;
    /*height: 100%;*/
    /* position: relative;  */
    overflow: hidden;   
}

.galleryslide h4{
    text-align: center;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: #f5e7cc;
    border: 2px solid rgb(128, 20, 20);
    border-top: none;
    border-bottom: none;

}
.gallery{
    width: 300%;
    height: 250px;
    overflow: hidden;
    border: 2px solid rgb(128, 20, 20);
    border-left: none;
    border-right: none;
}

.gallery li{    
    width: calc(100% / 3);
    padding: 0;
    float: left;
}

.gallery img{
    width: 100%;
    object-fit: cover;
    border-left: 2px solid rgb(128, 20, 20);
    border-right: 2px solid rgb(128, 20, 20);
}

.scondgallery{
    width: 100%;
    height: auto;
}

.discountslide{
    float: left;
    width: 40%;
    height: 635px;
    overflow: hidden;  
}

.discount{
    width: 200%;
    height: 640px;
    overflow: hidden;    
}

.discount li{
    float: left;
    width: calc(100% / 2);
    padding: 0;
}

.discount img{    
    width: 100%;
    object-fit: cover;
    border-left: 2px solid rgb(128, 20, 20);
    border-right: 2px solid rgb(128, 20, 20);
}

.btm{
    float: right;
    width: 60%;
    height: 635px;
}

.btmimg{    
    width: 216px;
    height: 280px;
    float: right;
    margin-top: 400px;
}

.btmimg img{
    width: 100%;
    height: 250px;
    border: 2px solid rgb(128, 20, 20);
    border-left: none;
    border-bottom: none;
}

.btmimg2{
    float: left;
    width: calc(100% - 216px);
    border-right: 2px solid rgb(128, 20, 20);
}

.btmimg2 ul{
    display: flex;
    flex-direction: column;
    
}

.btmimg2 img{
    width: 60%;
    height: 175px;
    padding: 5px;
    margin-left: -50px;
}

/* .btmimg2 span{ 

} */

.btmimg2 li{
    display: inline-block;
    flex-basis: 210px;
    flex-grow: 1;
    flex-shrink: 1;
}

.popup_overlay{
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.6);
}

.popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 800px;
    text-align: center;
}

.popup img{
    width: 100%;
    height: 800px;
}

.popup .popup_bt{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
}

.today_cl{
    float: left;
    width: 500px;
    height: 50px;
    line-height: 50px;
    background: greenyellow;
    color: black;
    /* border-right: 0.5px solid #000; */
    cursor: pointer

}

.today_cl:hover{
    background-color: yellow;
    color: black;
}

.closePopup{
    float: right;
    width: 100px;
    height: 50px;
    line-height: 50px;
    background-color: #ffffff;
    border-left: 0.5px solid #000;
    cursor: pointer;
    color: green;

}

.closePopup:hover{
    background-color: yellow;
    color: black;
}
footer{
    width: 1200px;
    height: 100px;
}

footer img{
    width: 1200px;
    height: 100px;
    border: 5px solid rgb(128, 20, 20);
}


