@charset "utf-8";

*{
    margin: 0 auto;
    padding: 0;
    list-style: none;
    font-family: "맑은 고딕";
    color: #333333;
    box-sizing: border-box;
}

.bg{
    width: 100%;
    height: 100%;
}